#formConnexion{
	text-align: center;
}

#formConnexion input{
	text-align: center;
	margin-bottom: 30px;
}

#formConnexionFooter{
	margin-top: 30px;
}

#miniMenu {
	margin-top: 10px;
	overflow-x: hidden;
}

#miniMenu .btn:not(.btn-block) {
	width:120px;
	margin-bottom:10px;
	padding-left: 5px;
	padding-right: 5px; 
}

#largeButton {
     width: 245px;
 }

#panelMenu {
	background-color: #f8f8f8;
}

#fichePraticien .panel-heading{
	text-align: center;
}

@media (min-width: 767px) {
	.lienFiche {
		pointer-events: none;
	   	cursor: default;
	}
}

@media (max-width: 532px) {
  #largeButton { width: 120px !important;}
}
@media (max-width: 766px) {
  #head { 
  	padding-bottom: 0 !important;
  }
  .navbar-static-top {
	margin-bottom: 0;
  }
}

@media (max-width: 801px) {
  .navbar-right button{
  	font-size: 80%;
  }
}

@media (max-width: 400px) {
  .numRapport {
  	display: none;
  }
}

@media (max-width: 680px) {
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: initial;
  }

  .notoriete {
  	display: none;
  }
}


#med .input-sm{
	height: 80px;
}


#tablePrat .fullAdresss{
	display: none;
}

/* DESIGN mobile  */
.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px;padding-left: 5px;padding-right: 5px; }
.panel { height: '' !important;}
#largeButton { width: 245px;}

@media (max-width: 767px) {
  	.familleMed{
  		display: none;
  	}

  	.ficheMed {
  		display: none;
  	}

	#tablePrat .adresse{
		display: none;
	}
	#tablePrat .fullAdresss{
		display: table-cell;
	}

	#tablePrat .toFiche{
		display: none;
	}

	#head{
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}




#onMobile{
	margin-bottom: 0px;
}


/* Design striped table */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(236, 249, 255, 0.88);
}

#listeRP {
}

#rapport {
	padding: 10px;
	height: 181px;
}

#rpContent {
	height: 100%;
	cursor: pointer;
}
