{# src/PPE/GSBBundle/Resources/views/Default/admin.html.twig #}
{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - AdminArea{% endblock %}

{% block body %}
 <div>
	hellow ADMIN
		
	/logout to deco
</div>
{% endblock %}