{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des rapports{% endblock %}

{% block body %}

<div class="container">
	{{ form(form.codeMotif) }}
	{{ form(form) }}

</div>

{% endblock %}