{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des rapports{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<form action="../maps/geolocalisation.php" method="POST">
			<div class="col-md-3">
				<div class="form-group">
			    	<label for="numero">Numéro</label>
			    	<input class="form-control" id="numero">
			  	</div>
			  	<div class="form-group">
			    	<label for="nom">Nom</label>
			    	<input class="form-control" id="nom">
			  	</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label for="prenom">Prénom</label>
			    	<input class="form-control" id="prenom">
			  	</div>
			  	<div class="form-group">
			    	<label for="adresse">Adresse</label>
			    	<input class="form-control" name="adresse" id="adresse" value="32 rue des granges">
			  	</div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label for="coeff_notoriete">Coefficient Notoriété</label>
			    	<input class="form-control" id="coeff_notoriete">
			  	</div>
			  	<div class="form-group">
			    		<div class="form-inline">
			    			<label for="cp">CP /</label>
			    			<label for="ville">Ville</label>
			    			<br>
			    			<input class="form-control" name="cp" id="cp" style="width: 65px;" value="69005">
			    			<input class="form-control" name="ville" id="ville" style="width : 188px;" value="Lyon">
			    			<input type="hidden" class="form-control" id="pays" style="width : 285px;" value="France">
			    		</div>
			    </div>
			</div>
			<div class="col-md-3">
			  	<div class="form-group">
			    	<label for="lieu_exe">Lieu d'Exercice</label>
			    	<input class="form-control" id="lieu_exe">
			  	</div>
			  	<!-- <div class="form-group">
			    	<label for="localiser">Localiser</label>
			    	<input type="submit" class="form-control btn btn-primary">
			  	</div> -->
			</div>
		</form>
	</div>
</div>

{% if new  == 1 %}
formulaire dajout
{% else %}
affichage du prat
{% endif %}
{% endblock %}