<!DOCTYPE html>
	<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>Praticiens</title>
			<link rel="stylesheet" href="../../style/bootstrap.css">
	</head>
	<body>
		<?php 
			// Barre de navigation, contient la balise script.
			include "../include/barre_navigation.html"
		 ?>
		 <div class="table-responsive">
			 <table class="table table-hover">
			 	<!-- Entête du tableau -->
			 	<thead> 
			 		<tr>
			 			<th>Numero</th>
			 			<th>Nom</th>
			 			<th>Prenom</th>
			 			<th>Adresse</th>
			 			<th>CP</th>
			 			<th>Ville</th>
			 			<th>Coeff. Notoriété</th>
			 			<th>Lieu d'exercice</th>
			 		</tr>
			 	</thead>
			 	<!-- fin de l'entête -->
			 </table>
		</div>
	</body>
</html>