{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des rapports{% endblock %}

{% block body %}

<div class="table-responsive">
	<table class="table table-hover">
		<!-- Entête du tableau -->
		<thead> 
			<tr>
				<th>Numero</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Adresse</th>
				<th>CP</th>
				<th>Ville</th>
				<th>Coeff. Notoriété</th>
				<th>Lieu d'exercice</th>
			</tr>
		</thead>
		<!-- fin de l'entête -->
	</table>
</div>
{% endblock %}