{% extends 'PPEGSBBundle::layout.html.twig' %}

{% block title %}GSB - Liste des rapports{% endblock %}

{% block body %}
 <div class="table-responsive">
	 <table class="table table-hover">
	 	<!-- Entête du tableau -->
	 	<thead> 
	 		<tr>
	 			<th>Numero</th>
	 			<th>Praticien</th>
	 			<th>Date</th>
	 			<th>Motif</th>
	 		</tr>
	 	</thead>
	 	<tbody>
 		<tr>
	 		<td>plop</td>
 			<td>plop</td>
 			<td>plop</td>
 			<td>plop</td>
 		</tr>
	 	{# a changer 
	 		{% for v in vis %}
	 		<tr>
		 		<td>{{ v.matriculeColVis.matriculeCol }}</td>
	 			<td>{{ v.matriculeColVis.prenomCol }}</td>
	 			<td>{{ v.matriculeColVis.nomCol }}</td>
	 		</tr>
 			{% endfor %}
	 	#############}
	 	</tbody>
	 	<!-- fin de l'entête -->
	 </table>
</div>
{#
<div style="border: thin solid black; background-color: green; color: white">
	{{ msg }}<br>
</div>
#}
{% endblock %}